*
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.main
{
    max-width: 250px;
    background-color: #171717;
    min-height: 100vh;
    padding: 0 10px;
    position: relative;
    border-right: 2px solid green;
}

.upper 
{
    background-color: #171717;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px;
    position: sticky;
    top: 20px;
    cursor: pointer;
    color: white;
    border-radius: 10px;
}
.upper img{
    filter: brightness(0) invert(1);
}
.upper:hover
{
    background-color: #2a2727;
}
.left
{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
}

.left img{
    width: 25px;
}

.middle
{
    color: white;
    margin-top: 100px;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.middle img{
    width: 20px;
}

.middle .mid-1 {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    padding: 20px 10px;
    border: 1px solid white;
    margin-bottom: 40px;
    border-radius: 10px;
    cursor: pointer;
    background-color: rgb(170, 27, 170);
}

.middle .mid-2 {
    display: flex;
    align-items: center;
    border: 1px solid white;
    padding: 10px;
    gap: 10px;
    border-radius: 10px;
    cursor: pointer;
}

.middle .mid-2:hover
{
    background-color: #474141;
}

.bottom
{
    color: white;
    position: absolute;
    bottom: 10px;
    width: 90%;
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding: 10px;
    cursor: pointer;
    border-top: 1px solid white;
}

.bottom .first
{
    display: flex;
    align-items: center;
    gap: 30px;
    padding: 10px;
    border-radius: 10px;

}

.bottom .first:hover
{
    background-color: #2a2727;
}