.Sidebar
{
    padding: 20px;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background-color: #f0f4f9;
}

.Sidebar img 
{
    width: 20px;
}

.menu
{
    display: block;
    margin: 20px 10px 10px;
    cursor: pointer;
}

.chat
{
    display: inline-flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    margin: 50px 0;
    padding: 10px 15px;
    border-radius: 50px;
    cursor: pointer;
    background-color: #e6eaf1;
}
.chat img{
    width: 15px;
}
.recent
{
    margin-top: 40px 0;
    padding: 10px;
}

.Recent-txt
{
    margin-bottom: 20px;
}

.recent-history
{
    display: flex;
    align-items: center;
    gap: 10px;
    padding: 10px;
    cursor: pointer;
    border-radius: 40px;
    
}
.recent-history:hover
{
    background-color: #e2e6eb;
}
.bottom
{
    margin-bottom: 20px;
}
.bottom-item
{
    display: flex;
    align-items: center;
    gap: 10px;
    margin: 5px 0;
    padding: 10px;
    border-radius: 30px;
    cursor: pointer;
}

.bottom-item:hover
{
    background-color: #e2e6eb;
}   