body 
{
    font-family: Arial, sans-serif;
    background-color: hsl(0, 0%, 65%);
    margin: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.weatherform
{
    margin: 20px;
}

.entercity
{
    width: 200px;
    padding: 15px;
    border: 2px solid black;
    border-radius: 10px;
    color: white;
    font-size: 1rem;
    font-weight: bold;
    border: none;
    margin: 10px;

}

.btn
{
    width: auto;
    padding: 10px;
    border: 2px solid black;
    border-radius: 10px;
    background-color: black;
    color: white;
    font-size: 1rem;
    font-weight: bold;
    cursor: pointer;
}
.btn:hover
{
    background-color: blue;
    color: aqua;
}

.card
{
    background: linear-gradient(180deg, hsl(210, 100%, 75%), hsl(40, 100%, 75%));
    padding: 30px;
    box-shadow: 2px 2px 5px rgb(35, 9, 9);
    min-width: 300px;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 20px;
    border: none;
}

h1
{
    font-size: 3.5rem;
    margin-bottom: 30px;
    margin-top: 0;
}

p
{
    font-size: 1.5 rem;
    font-weight: bold;
    margin: 10px 0;
}
.displayemoji
{
    font-size: 7rem;
}

.displaytemp, .displayhumidity, .displaymsg, .displayerror
{
    font-size: 1.5rem;
    margin-bottom: 15px;
}