*
{
    margin: 0;
    padding: 0;
}
.container {
    display: flex;
}

.left
{
    width: 24%;
}
.right {
    width: 76%;
}

/* .logo
{
    width: 3rem;
    padding: 0.5rem 0 0 0.5rem ;
} */

.home 
{
    padding: 1rem;
    margin: 5px;
    border: 2px solid white;
    border-radius: 20px;
}
.library
{
    margin: 5px;
    border: 2px solid white;
    border-radius: 20px;
}

.home ul li 
{
    display: flex;
    align-items: center;
    margin: 10px 0;
    gap: 15px;
    width: 25px;
    list-style: none;
    cursor: pointer;
}