*
{
    margin: 0;
    padding: 0;
}
.container {
    display: flex;
}

.left
{
    width: 25%;
}
.right {
    width: 75%;
}

.logo
{
    width: 3rem;
    padding: 0.5rem 0 0 0.5rem ;
}

.home ul li 
{
    display: flex;
    align-items: center;
    margin: .5rem;
    gap: 15px;
    width: 30px;
    list-style: none;
    cursor: pointer;
}