body{
    /* background-color: black;
    color: white; */
}
.container {
    display: flex;
    justify-content: s;
}

.left
{
    width: 25%;
    border: 2px solid black;
    text-align: center;
}
.right {
    width: 75%;
    border: 2px solid red;
    text-align: center;
}